{
  "model_name": "Qwen/Qwen3.8-27B",
  "seed": 42,
  "dtype": "bfloat16",
  "max_seq_len": 32768,
  "training_gpus": 16,
  "sampling_gpus": 0,
  "log_prob_gpus": 0,
  "training": {
    "ds_config": {
      "bf16": {
        "enabled": true
      },
      "gradient_accumulation_steps": 1,
      "train_batch_size": 8,
      "train_micro_batch_size_per_gpu": 1,
      "zero_optimization": {
        "stage": 2
      },
      "gradient_clipping": 1,
      "optimizer": {
        "type": "AdamW",
        "params": {
          "betas": [
            0.9,
            0.999
          ],
          "eps": 1e-08,
          "lr": 2e-05,
          "weight_decay": 0
        }
      }
    },
    "ds_worker_config": {
      "activation_checkpointing": true,
      "attn_implementation": "flash_attention_3",
      "fused_cross_entropy": false,
      "fused_lm_head_token_chunk_size": 8192,
      "mb_spec": {
        "max_tokens_per_mb": 65536
      }
    }
  },
  "sampling": {},
  "backend": {
    "type": "onprem",
    "protocol": "ray"
  }
}
